body {
    margin: auto;
    background-color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
    color: rgb(75,75,75);
    line-height: 1.6;

}

h1 {
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.tech {
    display: flex;
    flex-direction: row;
}

.tech-container-one {
    margin-right: 50px;
}

.tech-container-two {
    margin-right: 50px;
}

.container {
    max-width: 125vh;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2.5px #c1c1c1;
}

.header-name {
    color: white;
    font-weight: 400;
}

.resume-container {
    max-width: 125vh;
    padding: 5vh;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2.5px #c1c1c1;
}

.resume-h2 {
    color: steelblue;
}

header {
    height: 50vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 125vh;
    background-color: #011b2d;
    color: white;
}

nav {
    text-align: right;
    padding: 25px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    opacity: 0.9;
}

a {
    text-decoration: none;
    padding: 12.5px;
    color: #6c7987;
}

a:hover {
    color: lightsteelblue;
}

h1 {
    color: rgb(75,75,75);
}

.about {
    height: 30vh;
    padding: 50px;
    background-color: #f9f9f9;
}

.projects {
    height: 100vh;
    padding: 50px;
    background: #fff;
}

.span {
    color: rgb(100,100,100);
}

.project-names-container {
    height: 5vh;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: rgb(75,75,75);
    margin-bottom: 12.5px;
}

.project-name {
    width: 22.5%;
    height: 5vh;
}

.secondary-display-container {
    height: 17.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.secondary-display {
    height: 17.5vh;
    width: 22.5%;
    border: 1.5px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondary-display img {
    height: 17.5vh;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.secondary-display:hover {
    border: 1.5px solid lightblue;
}

.selected-display {
    height: 35vh;
    width: 50%;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selected-display img {
    height: 35vh;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
}

img[alt="github icon"]{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 100px;
    filter: contrast(.25);
}

img[alt="github icon"]:hover{
    filter: contrast(0);
}

img[alt="link icon"]{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 100px;
    filter: contrast(.25);
}

img[alt="link icon"]:hover{
    filter: contrast(0);
}

.show {
    width: 50%;
}

.show-container {
    display: flex;
}

.show-info {
    margin-left: 50px;
}

.title {
    margin-bottom: 50px;
}

.contact {
    height: 30vh;
    padding: 50px;
    background-color: #f9f9f9;
}

footer {
    display: table-cell;
    height: 15vh;
    width: 125vh;
    text-align: center;
    vertical-align: middle;
    background-color: #011b2d;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

img[alt="footer-icon"] {
    width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0.75;
}

img[alt="footer-icon"]:hover {
    opacity: 1;
}
